name: Upload dotnet package

on:
  push:
    branches: [ main ]

jobs: 
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
          source-url: https://nuget.pkg.github.com/aburke15/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.PACKAGES_TOKEN}}
      - run: dotnet build -c Release
      - name: Create the package
        run: dotnet pack -c Release
      - name: Publish the package to GPR
        run: dotnet nuget push **/bin/Release/*.nupkg
